@media (max-width:992px) {
    nav{
        position: fixed;
        
    }
    .navUl{ 
          
        background-color: #ffffff71;
        flex-direction: column;
        position: absolute;
        top: 4rem;
       width: 100%;
        backdrop-filter: blur(8px);
        display:none;
       
    }
    #menuCheck:checked ~.navUl{
        display: inherit;
    }
    #menuCheck:checked ~ label .open{
        display: none;
    }
    #menuCheck:checked ~ label .close{
        display: inherit;
    }
    .close{
        display: none;
    }
     label.open{
        display: inherit;
    }
     label {
        display: inherit;
    }
    /*////////////////////////////////////header*******************************************************/
    .headerMedia{
        flex-direction: column;
    }
    .contentHeader{
        text-align: center;
    }
  .imgHeader{
    width: 100%;
    margin-top: 20px;
  }
  .paragraphHeader{
    width: 100%;
  }
  /*////////////////////////////////////fisrt secion main**************************/
  .boxes{
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:20px;
  }
  .box{
    width: 100%;
  }
   /*//////////////////////////////////////Second section main///////////////////////*/
   
}

