* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary-color :rgb(29, 164,164);
  }
.navLogo{
    width: 5rem;
    height: 3rem;
}
.navClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 0.5rem 0;

  
}
.navUl{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    
}
nav{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 0 3px var(--primary-color);
}
input , label {
    display: none;
}


